.container {
    background-image: url("fon.png");
    width: 1366px;
    height: 770px;
    display: flex;
    background-repeat: repeat-y;
}
.container:before {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    content: "fon.png";
    position:absolute;
    width: 100%;
    height: 58px;
    background: rgba(0,0,0,0);}

.container:hover:before {
    height: 58px;
    background:rgba(0,0,0,0.5);
    opacity: 0.41;
    transition: all 0.9s;
    -webkit-transition: all 1.5s;

}

.menu {
    display: flex;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}
.menu-image {
    display: block;
    position: absolute;
    width: 157px;
    height: 22px;
    margin-left: 79px;
    margin-top: 18px;
    margin-bottom: 18px;
    /*background-image: url("JOURNEY.png");*/
}
.menu:hover {
    background-image: url("Header-fon.png");
  }
.menu-item1 {
    display: flex;
    position: absolute;
    margin-left: 940px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.menu-item2 {
    display: flex;
    position: absolute;
    margin-left: 974px;
    margin-top: 17.38px;
    margin-bottom: 17.38px;
}
.menu-item3 {
    display: flex;
    position: absolute;
    margin-left: 1011px;
    margin-top: 17.38px;
    margin-bottom: 17.38px;
}
.line {
    display: flex;
    position: absolute;
    margin-left: 1051px;
    margin-top: 19px;
    margin-bottom: 19px;
}
.LogTo {
    display: flex;
    position: absolute;
    margin-left: 1064px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.SignUp {
    display: flex;
    position: absolute;
    margin-left: 1182px;
    margin-top: 22px;
    margin-bottom: 22px;
}
.form {
    display: grid;
    position: absolute;
    margin-top: 112px;
    margin-left: 461px;
    width: 444px;
    height: 584px;
    background-color: white;
   /*padding: 15px;*/
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#square {
    width: 18px;
    height: 18px;
    margin-top: 39px;
    background: #3CB878;
    margin-left: 0;
    padding-left: 0;
}
.TopSignUpForm {
    position: absolute;
    display: inline-flex;
    width: 444px;
    height: auto;
    margin-top: 41px;
}
.SignUpLogo {
    position: absolute;
    margin-left: 40px;
        }
.LogInLogo {
    margin-left: 353px;
}

.FBButton {
    display: flex;
    position: absolute;
    width: 160px;
    height: 48px;
    margin-left: 43px;
    margin-top: 71px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #305DB8;
}
.FBButton:hover {
    background-color: #022263;
}
.FB-icon {
    width: 25px;
    height: 25px;
    padding-left: 8px;
    padding-top: 10px;
    }
.FB-transfer {
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 12px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}
.googleButton {
    display: flex;
    position: absolute;
    width: 160px;
    height: 48px;
    margin-left: 235px;
    margin-top: 71px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #DF4A32;
    color: white;
}
.googleButton:hover {
    background-color: #AB1F09;
}
.google-icon {
    width: 30px;
    height: 30px;
    padding-left: 8px;
    padding-top: 5px;

}
.google-transfer {
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-top: 11px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;

}


.interval {
    margin-top: 60px;
    margin-left: 210px;
    width: 15px;
    height: 14px;
}
.form-label {
    display: flex;
    flex-direction: column;
     }
.form-element-name {
    width: 340px;
    height: 46px;
    margin-left: 49px;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,3,8,0.2);
    border-radius: 4px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.form-element {
    width: 340px;
    height: 46px;
    margin-left: 49px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.form-label-checkbox {
    flex-direction: row;
    cursor: pointer;
    margin-left: 49px;
}
.checkbox-title {
    margin-left: 12px;
    color: black;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.checkbox-title1 {
    color: #3CB878;
    font-family: Verdana;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.submit-form {
    width: 340px;
    height: 46px;
    margin-left: 49px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: rgba(60,184,120,0.8);
    border-radius: 4px;
    margin-bottom: 30px;
}
.submit-form:hover {
    background-color: #01813F;
}
